.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  font-family: "Arial", sans-serif;
}

.exampleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  padding: 10px;
  background-color: var(--bgSoft);
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.1);
}

.input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: var(--bgSoft);
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
}

.permutationDisplay {
  font-size: 96px;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25%;
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.controlButton {
  padding: 10px 20px;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
}

.speedDisplay {
  font-size: 18px;
  margin: 5px;
}

.permutationNum {
  color: darkgray;
  font-size: 16px;
  margin-top: 10px;
}

.explanationText {
  font-size: 20px;
  line-height: 1.6;
  color: var(--text);
  margin-bottom: 20px;
}

.exampleList {
  padding-left: 20px;
  list-style-type: none;
}

.exampleList li {
  font-size: 20px;
  color: var(--textSoft);
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
}

.exampleList li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--btn);
}

.highlighted {
  color: gold;
  font-weight: bold;
  font-style: italic;
  background-color: rgba(255, 215, 0, 0.2);
  padding: 2px 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.highlighted:hover {
  background-color: rgba(255, 215, 0, 0.4);
}

.exampleTitle {
  margin: 10px auto;
  margin-bottom: 15px;
  font-size: 24px;
}

.nextBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 20px;
  margin: auto;
  transition: background-color 0.1s ease-in-out;
}

.nextBtn:hover {
  background-color: #003c7b;
}

.nfat {
  font-size: 48px;
  color: var(--text);
  border: 1px solid var(--bgSoft);
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.1);
  padding: 10px;
  max-width: fit-content;
  transition: background-color 0.3s ease-in-out;
  margin: 20px auto;
}

.n {
  font-size: 24px;
}

.nfat:hover {
  background-color: var(--bgSoft);
}
