.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  font-weight: 500;
  padding: 40px;
  border-radius: 10px;
  box-shadow: -6px 6px 10px 1px var(--bgSoft);

  max-height: fit-content;
  transition: box-shadow 0.3s ease-in-out;
}

.explanation:hover {
  box-shadow: -6px 6px 1px 1px var(--bgSoft);
}

.explanationContainer {
  color: rgb(7, 7, 58);
}

@media (max-width: 1280px) {
  .container {
    flex-direction: column;
  }
}

.explanationText {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.exampleList {
  list-style-type: none;
}

.exampleList li {
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 40px;
}

.exampleList li:before {
  content: "•";
  position: absolute;
  left: 20px;
  color: var(--btn);
}

.highlighted {
  color: rgb(220, 59, 86);
  font-weight: bold;
  font-style: italic;
  background-color: pink;
  padding: 2px 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.highlighted:hover {
  background-color: rgb(255, 220, 226);
}

.nextBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 20px;
  margin: auto;
  transition: background-color 0.1s ease-in-out;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.nextBtn:hover {
  background-color: #003c7b;
}

.nfat {
  font-size: 48px;
  font-style: italic;
  font-family: serif;
  color: rgb(7, 7, 58);
  border-radius: 10px;
  border: none;
  padding: 10px;
  max-width: fit-content;
  margin: 20px auto;
  transition: box-shadow 0.3s ease-in-out;
}

.n {
  font-size: 24px;
}

.nfat:hover {
  box-shadow: 0 0 10px 1px var(--bgSoft);
}

.pageIndicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.pageIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: lightgray;
  transition: background-color 0.3s;
  cursor: pointer;
}

.pageIndicator.active {
  background-color: #0070f3;
}
