.container{
    display: flex;
    gap: 100px;
}

.brands{
    width: 20px;
    height: 20px;
    position: relative;
    filter: invert(0.8);
    filter: brightness(0.5);
}

.title{
    font-size: 96px;
    font-weight: 700;
    color: var(--text)
}

.txtContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.imgContainer{
    position: relative;
    flex: 1;
}