.user {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userButton {
  padding: 5px 10px;
  background-color: rgba(220, 20, 60, 1);
  color: var(--textColor);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.isStudent {
  padding: 5px 10px;
  background-color: rgba(178, 178, 178, 0.5);
  color: var(--textColor);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.isStudent:hover::after {
  content: "Desinscrever";
  padding: 5px 10px;
  background-color: rgba(220, 20, 60, 1);
  color: var(--textColor);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.active {
  padding: 5px 10px;
  background-color: rgba(17, 178, 23, 0.593);
  color: var(--textColor);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
