.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.users {
  padding-right: 12.5%;
}

.img {
  padding-left: 12.5%;
  flex: auto;
  position: relative;
}

.rankImg {
  object-fit: contain;
}

.title {
  font-size: 4rem;
  color: var(--btn);
}

@media (max-width: 1024px) {
  .img {
    display: none;
  }
}
